<div class="profile-row">
  <div class="profile">
    <%= image_tag Gravatar.new(gravatar_email_address).image_url(size: 150) %>
  </div>

  <div class="bio">
    <h2>Keep it simple</h2>
    <!--<h3>I'm a full-stack web developer living in <%= city %>.</h3>
     Short bio about yourself, your skills, whether you're looking for work or not, etc. -->
    <p>This is my foot-hold on the web.  I'm a programmer by trade, board-gamer, film buff and a travel enthusiast. So more than likely that's what I'll be showcasing here.  I'm currently building up my web developer chops with the help of the fine folks at the MakerSquare.  After which I'll be in the market for a new gig, so drop me a line if you like what you see.
    <br>
    -Chris- 
    </p>
  </div>
</div>

<div class="featured-element-row">
  <section class="latest-from-blog">
    <h2>Latest from the log</h2>
    <h3><%= link_to page_articles.first.title, page_articles.first %></h3>

    <p><%= page_articles.first.summary %></p>
  </section>

  <section class="featured-project">
    <% project = data.projects.select(&:featured).first %>

    <h2>Featured project</h2>
    <h3><%= link_to project.name, 'portfolio' %></h3>
    <%= link_to(image_tag(project.screenshot), 'portfolio') %>
  </section>
</div>